.codex-editor:has(.ce-popover--opened) {
}

.codex-editor {
    z-index: unset;
}

.ce-popover__container {
}

.ce-toolbar:has(.ce-popover--opened) {
    z-index: 4;
}

.ce-block {
    background-color: hsl(var(--background));
}

.ce-toolbar {
    z-index: 30;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: 762px;
}

.ce-block__content {
    background-color: inherit;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    border-bottom: 1px solid hsl(var(--border));
}

h2 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
}

h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
}

h6 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.2;
}